@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- title -->
    <title>Railway</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-5 ">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Powered By SBTC</p>
                        <h1>Train Ticket Booking</h1>
                        <form action="#" class="form-search">
                            <div class="form-group">
                                <div class="row mb-1">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="id_label_single">From</label>
                                            <label for="id_label_single" style="width: 100%;">
                                                <select class="js-example-basic-single js-states form-control"
                                                        id="id_label_single" style="width: 100%;">
                                                    <option value="Australia">Australia</option>
                                                    <option value="Japan">Japan</option>
                                                    <option value="United States">United States</option>
                                                    <option value="Brazil">Brazil</option>
                                                    <option value="China">China</option>
                                                    <option value="Israel">Israel</option>
                                                    <option value="Philippines">Philippines</option>
                                                    <option value="Malaysia">Malaysia</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="Chile">Chile</option>
                                                    <option value="Chile">Zimbabwe</option>
                                                </select>
                                            </label>


                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="id_label_single2">To</label>
                                            <div class="probootstrap_select-wrap">
                                                <label for="id_label_single2" style="width: 100%;">
                                                    <select class="js-example-basic-single js-states form-control"
                                                            id="id_label_single2" style="width: 100%;">
                                                        <option value="Australia">Australia</option>
                                                        <option value="Japan">Japan</option>
                                                        <option value="United States">United States</option>
                                                        <option value="Brazil">Brazil</option>
                                                        <option value="China">China</option>
                                                        <option value="Israel">Israel</option>
                                                        <option value="Philippines">Philippines</option>
                                                        <option value="Malaysia">Malaysia</option>
                                                        <option value="Canada">Canada</option>
                                                        <option value="Chile">Chile</option>
                                                        <option value="Chile">Zimbabwe</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="probootstrap-date-departure">Departure</label>
                                            <div class="probootstrap-date-wrap">
                                                <span class="icon ion-calendar"></span>
                                                <input type="text" id="probootstrap-date-departure" class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="probootstrap-date-departure">Arrival</label>
                                            <div class="probootstrap-date-wrap">
                                                <span class="icon ion-calendar"></span>
                                                <input type="text" id="probootstrap-date-departure" class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md search-form">
                                        <input type="submit" value="Search" class="btn btn-primary   ">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <img src="assets/img/ic-1.png" alt="" width="100%">
                    </div>
                    <div class="content">
                        <h3>Get Confirmed SBTC Ticket</h3>
                        <p>With our same train alternates and prediction feature, increase your chances of getting
                            confirm SBTC train tickets.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <img src="assets/img/ic-2.png" alt="" width="100%">
                    </div>
                    <div class="content">
                        <h3>SBTC Booking & Enquiry Support</h3>
                        <p>24X7 customer support, for any SBTC train enquiry & booking related queries call
                            08068243910.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <img src="assets/img/ic-3.png" alt="" width="100">
                    </div>
                    <div class="content">
                        <h3>SBTC Instant Refund & Cancellation</h3>
                        <p>Get an instant refund and book your next SBTC ticket easily.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

<!-- cart banner section -->
<section class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6">
                <div class="image">
                    <div class="price-box">
                        <div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off
                                </span>
                        </div>
                    </div>
                    <img src="assets/img/img5.jpg" alt="">
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column col-lg-6">
                <h3><span class="orange-text">Deal</span> of the month</h3>
                <h4>Train to ............</h4>
                <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique!
                    Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem
                    accusant
                </div>
                <!--Countdown Timer-->
                <div class="time-counter">
                    <div class="time-countdown clearfix" data-countdown="2020/2/01">
                        <div class="counter-column">
                            <div class="inner"><span class="count">02</span>Days</div>
                        </div>
                        <div class="counter-column">
                            <div class="inner"><span class="count">15</span>Hours</div>
                        </div>
                        <div class="counter-column">
                            <div class="inner"><span class="count">20</span>Mins</div>
                        </div>
                        <div class="counter-column">
                            <div class="inner"><span class="count">18</span>Secs</div>
                        </div>
                    </div>
                </div>
                <a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Buy Ticket</a>
            </div>
        </div>
    </div>
</section>
<!-- end cart banner section -->
<section class="shop-banner">
    <div class="container">
        <h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
        <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
        <a href="shop.html" class="cart-btn btn-lg">Buy now</a>
    </div>
</section>
<!-- end shop banner -->

<!-- latest news -->
<div class="latest-news pt-150 pb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                        beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html">
                        <div class="latest-news-bg news-bg-1"></div>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                            Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i
                                class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html">
                        <div class="latest-news-bg news-bg-2"></div>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                            Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i
                                class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-latest-news">
                    <a href="single-news.html">
                        <div class="latest-news-bg news-bg-3"></div>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi.
                            Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i
                                class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="news.html" class="boxed-btn">More News</a>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->

<!-- jquery -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>

</body>
</html>